[submodule "ai/food_classification"]
	path = ai/food_classification
	url = https://github.com/KNU25-AITeam13/Food_Classification
[submodule "ai/volume_assumption"]
	path = ai/volume_assumption
	url = https://github.com/KNU25-AITeam13/Volume_Assume
